In [1]:
# import pandas library 
import pandas as pd

In [4]:
#load files 
student_frame = pd.read_csv('Resources/students_complete.csv')
school_frame = pd.read_csv('Resources/schools_complete.csv')

In [63]:
student_frame.head(3)
school_frame.head(3)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60

   School ID           school_name      type  size   budget
0          0     Huang High School  District  2917  1910635
1          1  Figueroa High School  District  2949  1884411
2          2   Shelton High School   Charter  1761  1056600

[data_clenaing_notebook](cleaning_student_names.ipynb)

In [66]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [ ]:
for word in prefixes_suffixes:
    student_frame["student_name"] = student_frame["student_name"].str.replace(word,"")