In [1]:
# import pandas library 
import pandas as pd

In [3]:
#load files 
student_frame = pd.read_csv('Resources/students_complete.csv')
school_frame = pd.read_csv('Resources/schools_complete.csv')

In [4]:
student_frame.head(3)
school_frame.head(3)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60

   School ID           school_name      type  size   budget
0          0     Huang High School  District  2917  1910635
1          1  Figueroa High School  District  2949  1884411
2          2   Shelton High School   Charter  1761  1056600

[data_clenaing_notebook](cleaning_student_names.ipynb)

In [5]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [6]:
for word in prefixes_suffixes:
    student_frame["student_name"] = student_frame["student_name"].str.replace(word,"")

In [7]:
# combine the data into a single dataset 
school_data_complete = pd.merge(student_frame,school_frame,on="school_name")
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [8]:
#get the total number of students
student_count = school_data_complete["Student ID"].count()
student_count

39170

In [9]:
# Calculate the total number of schools.
school_count = school_frame["school_name"].count()
school_count

15

In [10]:
# Calculate the total number of schools
school_count = school_data_complete.school_name.nunique()
school_count_2 = school_data_complete.school_name.unique()
school_count
school_count_2

15

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [11]:
total_budget = school_frame.budget.sum()
total_budget

24649428

In [12]:
average_reading_score = school_data_complete.reading_score.mean()
average_reading_score

81.87784018381414

In [13]:
average_math_score = school_data_complete.math_score.mean()
average_math_score

78.98537145774827

> Determining the Passing Graade

In [14]:
# get students who passed math and reading 
passing_math = school_data_complete[school_data_complete.math_score >= 70]
passing_reading = school_data_complete[school_data_complete.reading_score >= 70]
passing_math.head(2) 
passing_reading.head(2)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635

In [15]:
#calculate the number of students passing math and reading 
passing_math_count = passing_math.student_name.count()
passing_reading_count = passing_reading.student_name.count()
passing_math_count 
passing_reading_count

29370

33610

In [16]:
#calculate the percentage that passed math
passing_math_percentage = passing_math_count / student_count * 100
passing_reading_percentage = passing_reading_count / student_count * 100
passing_math_percentage
passing_reading_percentage

74.9808526933878

85.80546336482001

In [17]:
# Calculate the number of students who passed both math and reading.
passing_math_reading = school_data_complete[(school_data_complete.math_score >= 70) & (school_data_complete.reading_score >=70)]
overall_passing_count = passing_math_reading.student_name.count()
overall_passing_count

25528

In [18]:
#caclulate the overall passing percentage 
overall_passing_percentage = overall_passing_count / student_count * 100
overall_passing_percentage

65.17232575950983

In [29]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [20]:
# Define a function that calculates the percentage of students that passed both # math and reading and prints the passing percentage to the output when the
# function is called.
def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100

In [30]:
# Format the columns.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

In [202]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65