In [89]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to change the path if needed.)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read the School Data and Student Data and store into a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Cleaning Student Names and Replacing Substrings in a Python String
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

# Check names.
student_data_df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

## Deliverable 1: Replace the reading and math scores.

### Replace the 9th grade reading and math scores at Thomas High School with NaN.

In [90]:
# Install numpy using conda install numpy or pip install numpy. 
# Step 1. Import numpy as np.
import numpy as np

In [ ]:
# Step 2. Use the loc method on the student_data_df to select all the reading scores from the 9th grade at Thomas High School and replace them with NaN.
reading_replace_index = student_data_df.loc[student_data_df.grade == '9th'].reading_score.index
student_data_df.reading_score[reading_replace_index] = np.nan

In [ ]:
#  Step 3. Refactor the code in Step 2 to replace the math scores with NaN.
# Step 2. Use the loc method on the student_data_df to select all the reading scores from the 9th grade at Thomas High School and replace them with NaN.
math_replace_index = student_data_df.loc[student_data_df.grade == '9th'].math_score.index
student_data_df.math_score[math_replace_index] = np.nan

In [102]:
#  Step 4. Check the student data for NaN's. 
student_data_df.iloc[reading_replace_index].head()
student_data_df.iloc[math_replace_index].head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,NaN,NaN
4,4,Bonnie Ray,F,9th,Huang High School,NaN,NaN
5,5,Bryan Miranda,M,9th,Huang High School,NaN,NaN
12,12,Brittney Walker,F,9th,Huang High School,NaN,NaN
13,13,William Long,M,9th,Huang High School,NaN,NaN

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,NaN,NaN
4,4,Bonnie Ray,F,9th,Huang High School,NaN,NaN
5,5,Bryan Miranda,M,9th,Huang High School,NaN,NaN
12,12,Brittney Walker,F,9th,Huang High School,NaN,NaN
13,13,William Long,M,9th,Huang High School,NaN,NaN

## Deliverable 2 : Repeat the school district analysis

### District Summary

In [103]:
# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,NaN,NaN,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94.0,61.0,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90.0,60.0,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67.0,58.0,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,NaN,NaN,0,District,2917,1910635

In [153]:
# Calculate the Totals (Schools and Students)
school_count = len(school_data_complete_df["school_name"].unique())
student_count = school_data_complete_df["Student ID"].count()

# Calculate the Total Budget
total_budget = school_data_df["budget"].sum()

In [154]:
# Calculate the Average Scores using the "clean_student_data".
average_reading_score = school_data_complete_df["reading_score"].mean()
average_math_score = school_data_complete_df["math_score"].mean()

In [155]:
# Step 1. Get the number of students that are in ninth grade at Thomas High School.
# These students have no grades. 
student_count_9th_grade = school_data_complete_df[school_data_complete_df.grade == '9th']["Student ID"].count()

# Get the total student count 
student_count = school_data_complete_df["Student ID"].count()

# Step 2. Subtract the number of students that are in ninth grade at 
# Thomas High School from the total student count to get the new total student count.
total_students_minus_9th = student_count - student_count_9th_grade

In [156]:
# Calculate the passing rates using the "clean_student_data".
passing_math_count = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)].count()["student_name"]
passing_reading_count = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)].count()["student_name"]

In [185]:
# Step 3. Calculate the passing percentages with the new total student count.
passing_math_percentage = (passing_math_count / total_students_minus_9th) * 100
passing_reading_percentage = (passing_reading_count / total_students_minus_9th) * 100

In [162]:
passing_math_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
6,6,Sheena Carter,F,11th,Huang High School,82.0,80.0,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95.0,87.0,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96.0,84.0,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90.0,70.0,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78.0,77.0,0,District,2917,1910635

In [172]:
overall_passing_math_reading_count

18074

In [187]:
total_students_minus_9th

27762

In [ ]:
overall_passing_percentage

In [195]:
# Calculate the students who passed both reading and math.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) &(school_data_complete_df["reading_score"] >= 70)]
                                             
# Calculate the number of students that passed both reading and math.
overall_passing_math_reading_count = passing_math_reading['student_name'].count()

# Step 4.Calculate the overall passing percentage with new total student count.
overall_passing_percentage = (overall_passing_math_reading_count / total_students_minus_9th) * 100

In [196]:
# Create a DataFrame
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count, 
          "Total Students": student_count, 
          "Total Budget": total_budget,
          "Average Math Score": average_math_score, 
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])



# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
# Format the "Total Budget" to have the comma for a thousands separator, a decimal separator and a "$".
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.1f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.1f}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.1f}".format)

# Display the data frame
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75.0,85.7,65.1

##  School Summary

In [197]:
# Determine the School Type
per_school_types = school_data_df.set_index(["school_name"])["type"]

# Calculate the total student count.
per_school_counts = school_data_complete_df["school_name"].value_counts()

# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete_df.groupby(["school_name"]).mean()["budget"]
# Calculate the per capita spending.
per_school_capita = per_school_budget / per_school_counts

# Calculate the average test scores.
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / per_school_counts * 100
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

# Calculate the students who passed both reading and math.
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)
                                               & (school_data_complete_df["math_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the percentage of passing math and reading scores per school.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100

In [199]:
# Create the DataFrame
per_school_summary_df = pd.DataFrame({
    "School Type": per_school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": per_overall_passing_percentage})


per_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928.0,628.0,77.033826,80.922399,47.005627,57.857717,38.504823
Cabrera High School,Charter,1858,1081356.0,582.0,83.048872,84.094737,67.061356,69.537137,65.123789
Figueroa High School,District,2949,1884411.0,639.0,76.838032,81.141424,47.371991,57.070193,37.843337
Ford High School,District,2739,1763916.0,644.0,76.989507,80.795908,47.353049,55.093100,37.276378
Griffin High School,Charter,1468,917500.0,625.0,83.856468,83.989613,67.643052,70.367847,65.871935

In [200]:
# Format the Total School Budget and the Per Student Budget
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

# Display the data frame
per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.033826,80.922399,47.005627,57.857717,38.504823
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.048872,84.094737,67.061356,69.537137,65.123789
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.838032,81.141424,47.371991,57.070193,37.843337
Ford High School,District,2739,"$1,763,916.00",$644.00,76.989507,80.795908,47.353049,55.093100,37.276378
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.856468,83.989613,67.643052,70.367847,65.871935
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.226560,80.963111,46.860841,56.677454,37.475728
Holden High School,Charter,427,"$248,087.00",$581.00,83.810000,83.873333,65.339578,68.149883,63.466042
Huang High School,District,2917,"$1,910,635.00",$655.00,76.467438,81.138929,45.971889,57.799109,37.778540
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.024398,80.843796,46.418820,57.151859,37.534131
Pena High School,Charter,962,"$585,858.00",$609.00,83.925764,84.139738,67.983368,67.879418,64.449064
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.835626,80.642681,47.036759,56.839210,37.384346
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.333063,83.554833,65.758092,66.723453,62.691652
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.350937,83.896082,66.911315,69.663609,65.076453
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.346247,84.008475,68.068331,69.776610,65.659220
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.847287,84.003101,66.666667,69.444444,64.722222

In [227]:
# Step 5.  Get the number of 10th-12th graders from Thomas High School (THS).
thomashigh_10_to_12 = school_data_complete_df[(school_data_complete_df.school_name == "Thomas High School") & (school_data_complete_df.grade != '9th')]
thomas_students_10_to_12 = thomashigh_10_to_12.student_name.count()

In [224]:
# Step 6. Get all the students passing math from THS
thomas_passing_math = thomashigh_10_to_12[thomashigh_10_to_12.math_score >= 70].student_name.count()

In [232]:
# Step 7. Get all the students passing reading from THS
thomas_passing_reading = thomashigh_10_to_12[thomashigh_10_to_12.reading_score >= 70].student_name.count()

In [236]:
# Step 8. Get all the students passing math and reading from THS
thomas_math_reading = thomashigh_10_to_12[(thomashigh_10_to_12.math_score >= 70) & (thomashigh_10_to_12.reading_score >= 70)].student_name.count()

In [228]:
# Step 9. Calculate the percentage of 10th-12th grade students passing math from Thomas High School. 
thomas_math_percentage = thomas_passing_math / thomas_students_10_to_12 * 100

In [234]:
# Step 10. Calculate the percentage of 10th-12th grade students passing reading from Thomas High School.
thomas_math_percentage = thomas_passing_reading / thomas_students_10_to_12 * 100

In [237]:
# Step 11. Calculate the overall passing percentage of 10th-12th grade from Thomas High School. 
thomas_overall_percentage = thomas_math_reading / thomas_students_10_to_12 * 100

In [314]:
# Step 12. Replace the passing math percent for Thomas High School in the per_school_summary_df.
per_school_summary_df.loc['Thomas High School',('% Passing Math')] = thomas_math_percentage

In [26]:
# Step 13. Replace the passing reading percentage for Thomas High School in the per_school_summary_df.
per_scho

In [27]:
# Step 14. Replace the overall passing percentage for Thomas High School in the per_school_summary_df.

In [28]:
# per_school_summary_df

## High and Low Performing Schools

In [29]:
# Sort and show top five schools.

In [30]:
# Sort and show top five schools.

## Math and Reading Scores by Grade

In [31]:
# Create a Series of scores by grade levels using conditionals.


# Group each school Series by the school name for the average math score.


# Group each school Series by the school name for the average reading score.

In [32]:
# Combine each Series for average math scores by school into single data frame.

In [33]:
# Combine each Series for average reading scores by school into single data frame.

In [34]:
# Format each grade column.

In [35]:
# Remove the index.


# Display the data frame

In [36]:
## Remove the index.


# Display the data frame

## Scores by School Spending

In [37]:
# Establish the spending bins and group names.


# Categorize spending based on the bins.

In [38]:
# Calculate averages for the desired columns.

In [39]:
# Create the DataFrame

In [40]:
# Format the DataFrame

## Scores by School Size

In [41]:
# Establish the bins.

# Categorize spending based on the bins.

In [42]:
# Calculate averages for the desired columns.

In [43]:
# Assemble into DataFrame.

In [44]:
# Format the DataFrame

## Scores by School Type

In [45]:
# Calculate averages for the desired columns.

In [46]:
# Assemble into DataFrame.

In [47]:
# # Format the DataFrame