In [1]:
# import pandas library 
import pandas as pd

In [ ]:
student_data_df

In [4]:
#load files 
student_frame = pd.read_csv('Resources/students_complete.csv')
school_frame = pd.read_csv('Resources/schools_complete.csv')

In [63]:
student_frame.head(3)
school_frame.head(3)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60

   School ID           school_name      type  size   budget
0          0     Huang High School  District  2917  1910635
1          1  Figueroa High School  District  2949  1884411
2          2   Shelton High School   Charter  1761  1056600

[data_clenaing_notebook](cleaning_student_names.ipynb)

In [66]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [67]:
for word in prefixes_suffixes:
    student_frame["student_name"] = student_frame["student_name"].str.replace(word,"")

In [77]:
# combine the data into a single dataset 
school_data_complete = pd.merge(student_frame,school_frame,on="school_name")
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [88]:
#get the total number of students
student_count = school_data_complete["Student ID"].count()
student_count

39170

In [91]:
# Calculate the total number of schools.
school_count = school_frame["school_name"].count()
school_count

15

In [101]:
# Calculate the total number of schools
school_count = school_data_complete.school_name.nunique()
school_count_2 = school_data_complete.school_name.unique()
school_count
school_count_2

15

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [104]:
total_budget = school_frame.budget.sum()
total_budget

24649428

In [105]:
average_reading_score = school_data_complete.reading_score.mean()
average_reading_score

81.87784018381414

In [106]:
average_math_score = school_data_complete.math_score.mean()
average_math_score

78.98537145774827

> Determining the Passing Graade

In [121]:
# get students who passed math and reading 
passing_math = school_data_complete[school_data_complete.math_score >= 70]
passing_reading = school_data_complete[school_data_complete.reading_score >= 70]
passing_math.head(2) 
passing_reading.head(2)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635

In [127]:
#calculate the number of students passing math and reading 
passing_math_count = passing_math.student_name.count()
passing_reading_count = passing_reading.student_name.count()
passing_math_count 
passing_reading_count

29370

33610